In [60]:
import pandas
enrollments = pandas.read_csv('pecos_data/Base_Provider_Enrollment_File.csv', low_memory=False)
enrollments.head()

,NPI,PECOS_ASCT_CNTL_ID,ENRLMT_ID,PROVIDER_TYPE_CD,PROVIDER_TYPE_DESC,STATE_CD,FIRST_NAME,MDL_NAME,LAST_NAME,ORG_NAME,GNDR_SW
0,1003879883,8022920719,I20031103000001,14-16,PRACTITIONER - OBSTETRICS/GYNECOLOGY,PR,ANTONIO,NaN,ALVAREZ RODRIGUEZ,NaN,M
1,1003976986,7113839812,I20031103000005,14-68,PRACTITIONER - CLINICAL PSYCHOLOGIST,PA,CHRISTOPHER,J,ZIEGLER,NaN,M
2,1831165075,5193637890,I20031103000013,14-16,PRACTITIONER - OBSTETRICS/GYNECOLOGY,PR,JORGE,A,OSTOLAZA BEY,NaN,M
3,1851357214,2466364161,I20031103000014,14-30,PRACTITIONER - DIAGNOSTIC RADIOLOGY,KY,RHONDA,G,GRISSOM,NaN,F
4,1083766935,5092627794,I20031103000015,14-35,PRACTITIONER - CHIROPRACTIC,NJ,TIMOTHY,J,DIECKMAN,NaN,M

In [61]:
total_enrollments = enrollments.shape[0]
print('{0} million total enrollments in PECOS dataset'.format(float(total_enrollments)/1e6))

2.055255 million total enrollments in PECOS dataset

In [62]:
group_enrollments = enrollments[pandas.notnull(enrollments['ORG_NAME'])]
total_group_enrollments = group_enrollments.shape[0]
percent_group_enrollments = round(float(total_group_enrollments)/total_enrollments*100, 2)
print('{0}% or {1} group providers'.format(percent_group_enrollments, total_group_enrollments))

20.59% or 423213 group providers

In [63]:
# number of npi's with multiple enrollments
enrollments_grouped_by_npi = enrollments.groupby('NPI')

In [65]:
group_size = enrollments_grouped_by_npi.size()
npis_with_more_than_one_enrlmnt = group_size[group_size > 1]
num_npis_with_more_than_one_enrlmnt = len(npis_with_more_than_one_enrlmnt)
num_enrollments_which_are_multiples = npis_with_more_than_one_enrlmnt.sum()
percent_enrollments_which_are_multiples = round(float(num_enrollments_which_are_multiples)/total_enrollments*100, 2)
print('{0}% of enrollments are multiples for the same NPI'.format(percent_enrollments_which_are_multiples))

14.55% of enrollments are multiples for the same NPI

In [70]:
reassignments = pandas.read_csv('pecos_data/Reassignment_Sub-_File.csv')
num_reassignments = reassignments.shape[0]
print('Number of reassigments: {0} million'.format(num_reassignments/1e6))

Number of reassigments: 1.884063 million

In [82]:
reassignments_grouped_by_enrollment_id = reassignments.groupby('REASGN_BNFT_ENRLMT_ID')
grouped_reassignments_size = reassignments_grouped_by_enrollment_id.size()

In [84]:
enrollments_with_more_than_one_reassignment = grouped_reassignments_size[grouped_reassignments_size > 1]
print('Number of enrollments with more than 1 reassignment: {0}'.format(len(enrollments_with_more_than_one_reassignment)))

Number of enrollments with more than 1 reassignment: 372163

*Herein lies an irresolvable - if a medicare beneficiary assigns benefits to more than one other we have to know the most recent assignment.*

In [79]:
#result = pd.merge(enrollments, reassignments, on='ENRLMT_ID')
reassignments.head()
enrlmnts_with_reassignments = pandas.merge(
    enrollments, reassignments, how = 'outer', left_on = 'ENRLMT_ID', right_on = 'REASGN_BNFT_ENRLMT_ID'
)
enrlmnts_with_reassignments.head()

,NPI,PECOS_ASCT_CNTL_ID,ENRLMT_ID,PROVIDER_TYPE_CD,PROVIDER_TYPE_DESC,STATE_CD,FIRST_NAME,MDL_NAME,LAST_NAME,ORG_NAME,GNDR_SW,REASGN_BNFT_ENRLMT_ID,RCV_BNFT_ENRLMT_ID
0,1003879883,8022920719,I20031103000001,14-16,PRACTITIONER - OBSTETRICS/GYNECOLOGY,PR,ANTONIO,NaN,ALVAREZ RODRIGUEZ,NaN,M,I20031103000001,O20031216000213
1,1003976986,7113839812,I20031103000005,14-68,PRACTITIONER - CLINICAL PSYCHOLOGIST,PA,CHRISTOPHER,J,ZIEGLER,NaN,M,NaN,NaN
2,1831165075,5193637890,I20031103000013,14-16,PRACTITIONER - OBSTETRICS/GYNECOLOGY,PR,JORGE,A,OSTOLAZA BEY,NaN,M,NaN,NaN
3,1851357214,2466364161,I20031103000014,14-30,PRACTITIONER - DIAGNOSTIC RADIOLOGY,KY,RHONDA,G,GRISSOM,NaN,F,I20031103000014,O20031229000649
4,1083766935,5092627794,I20031103000015,14-35,PRACTITIONER - CHIROPRACTIC,NJ,TIMOTHY,J,DIECKMAN,NaN,M,NaN,NaN